<div class="row">
  <div class="col-md-4">
    <%= category.name %>
  </div>
  <div class="col-md-8">
    <%= category.description %>
    <blockquote>
      <% category.words.each do |word| %>
        <%= word.content %>
      <% end %>
    </blockquote>
    <%= render "lessons/lesson_form", category: category %>
  </div>
</div>
