<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% unless current_user? user %>
    | <%= link_to t(".btn_delete"), admin_user_path(user), method: :delete,
      data: {confirm: t(".confirm")} %>
  <% end %>
</li>
