<footer>
  <div class="tweets">
    <div class="container">
      <div class="tweet-contant">
        <h4><%= t ".website" %></h4>
        <h4 id="Date"></h4>
        <h4>
          <span id="hours"></span>
          <span id="point">:</span>
          <span id="min"></span>
          <span id="point">:</span>
          <span id="sec"></span>
        </h4>
      </div>
    </div>
  </div>
</footer>
