<footer class="footer">
  <small>
    <%= link_to t(".website"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".home"), "#" %></li>
      <li><%= link_to t(".help"), "#" %></li>
    </ul>
  </nav>
</footer>
